body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    background-image: url("../img/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-style {
    display: flex;
    align-items: center;
    height: 90%;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-main {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    margin: 0 auto;
}

.main-padding {
    padding: 30px 60px 38px 60px;
}

.header-logo:hover {
    color: #01813F;
}

.header-logo {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 80px;
}

.button > svg {
    padding-right: 24px;
    cursor: pointer;
}

svg:hover > path {
    fill: #01813F;
}

.header-button {
    display: flex;
    align-items: center;
}

.logo-text:before {
    content: " ";
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
}

.logo-text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
    padding-right: 80px;
}

.welcome-text {
    padding-left: 27px;
}

.text-log, .text-sing {
    color: #FFFFFF;
}

.text-log:hover {
    color: #01813F;
}

.text-sing:hover {
    color: #01813F;
}

.main-button:before {
    content: " ";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}

.main-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.button-up {
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.button-in {
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
}

.button-in:hover {
    text-decoration: underline;
}

.button-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-fb::before {
    content: "f";
    font-weight: 750;
    padding-right: 18px;
    color: white;
}

.button-fb:hover {
    background: #022263;
}

.button-fb {
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-width: 0;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 4px;
}

.facebook {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
    border: 0 solid #3181A6;
    border-left-width: 1px;
}

.button-google::before {
    content: "G+";
    font-weight: 850;
    color: white;
}

.button-google:hover {
    background: #AB1F09;
}

.button-google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-width: 0;
    border-radius: 5px;
    margin-top: 15px;
}

.google {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
    border: 0 solid #c8422d;
    border-left-width: 1px;
    height: 28px;
}

.or-line:before {
    content: " ";
    width: 152px;
    height: 1px;
    vertical-align: middle;
    background: #F2F2F2;
    float: left;
    margin-top: 7px;
}

.or-line:after {
    content: " ";
    width: 152px;
    height: 1px;
    float: right;
    background: #F2F2F2;
    vertical-align: middle;
    margin-top: 7px;
}

.or-line {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    display: block;
    text-align: center;
    margin-top: 31px;
    padding-bottom: 12px;
}

.form-filling {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-fields {
    width: 322px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 20px;
}

.input-fields:focus {
    box-shadow: 2px 2px 6px rgba(180, 180, 180, 1);
    outline: none;
    border: 0;
}

.terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
}

#label-check, #checkbox {
    line-height: 2.1ex;
    color: #434343;
}

#checkbox {
    position: absolute;
    display: none;
}

#checkbox + #label-check {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 20px;
}

#checkbox + #label-check::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-right: 0.5em;
    font-size: 14px;
}

#checkbox:checked + #label-check::after {
    content: ' ';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.7ex;
    left: 0.4ex;
    border: 3px solid #3cb878;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.button-create {
    width: 324px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.button-create:hover {
    background: #01813F;
}